#formDiv {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 2% 0 ;
  align-items: center;
background: linear-gradient(0.12turn, #3f87a6, #ebf8e1, #f69d3c);
}

.msgArea {
  border : 0.2em solid green;
  border-radius: 1em;
  padding: 5%;
  color: green;
  background-color: white
}

#tagLine {
  color: white;
  font-size: 3em;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

@media (max-width : 428px) {
  #formDiv {
    padding-left: 0;
    justify-content: center;
  }

  #tagLine {
    display: none;
  }
}
